body {
    max-height: 250px; 
    max-width: 450px;
}
  
table {
    height: 100px;
    width: 100%;
    text-align: center;
}
  
tr td {
    border: 1px solid black;
}
  
#change,
#input {
    margin-bottom: 20px;
}

.table-wrapper {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}

.divTableCell {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}

.divTableBody {
	display: table-row-group;
}

