body {
    max-height: 250px; 
    max-width: 450px;
}
  
table {
    height: 100px;
    width: 100%;
    text-align: center;
}
  
tr td {
    border: 1px solid black;
}
  
#change,
#input {
    margin-bottom: 20px;
}

