body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.content-wrapper {
    align-self: center;
    width: 50%;
}
  
#change,
#input {
    margin-bottom: 20px;
}

.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}

.divTableCell {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}

.divTableBody {
	display: table-row-group;
}

