.request {
    background-color: #59ace0;
    border-radius: 4px;
    color: white;
    font-size: 1em;
    height: 40px;
    width: 96px;
    margin: 0 auto;
    border: 0px solid;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.res {
    text-align: center;
}